:root {
    --c--black: #000000;
    --c-dblue: #14213D;
    --c-lblue: #566a9c;
    --c-yellow: #FCA311;
    --c-red: #d62828;
    --c-red2: #ec4c4c;
    --c-lgrey: #E5E5E5;
    --c-white: #ffffff;

}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--c-dblue);
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .5px;
    line-height: 1.6em;
    margin: 0 16.5%;
}

h1 {
    font-size: x-large;
    color: var(--c-red);
    letter-spacing: .08em;
    padding: 1em 0 1em 0;
    font-family: 'Cinzel', serif;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    min-width: 33%;
}

img {
    border: .5px solid var(--c-white);
    border-radius: 2px;
}

.header {
    color: var(--c-red);
    display: inline-block;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: left;
    border-bottom: solid var(--c-lblue) .15px;
    width: 100%;
    padding: 0 0% 0% 0%;
}

.header img {
    border: none;
}

h2 {
    font-size: 1.5em;
    color: var(--c-yellow);
}

.h2 {
    display: flex;
    margin: 0 0 .3em .15em;
    min-width: 16.5%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 33%;
}

nav a {
    color: var(--c-red);
    text-decoration: none;
    text-align: center;
    padding: 0 7px;
    border-radius: 5px;
}

nav a:hover {
    background-color: var(--c-red);
    color: white;
    border: solid .25px var(--c-yellow);
    filter: drop-shadow(3px 3 px 10px var(--c-yellow));
    text-transform: uppercase;

}

.about {
    display: flex;
    flex-direction: row;
    padding: 2% 5% 2% 5%;
    width: 100%;
}

.about p {
    flex-basis: auto;
    line-height: 25px;
    margin-bottom: 1em;
    color: var(--c-white);
    max-width: 780px;
    min-width: 780px;
}

.about img {
    flex-basis: auto;
    float: right;
    margin: 7px 0 5px 5px;
    overflow: hidden;
    white-space: nowrap;
    object-fit: contain;
    max-width: 200px;
    border-radius: 2px;

}

.projects {
    display: flex;
    justify-content: space-between;
    color: var(--c-dblue);
    text-align: left;
    align-items: left;
    padding: 2% 5% 2% 5%;
    width: 100%;
}

.projects-container a {
    overflow: hidden;
    white-space: nowrap;
    object-fit: scale-down;
    opacity: 0.8;
    margin: 5px;
}

.projects-container a:hover {
    filter: drop-shadow(5px 3px 10px var(--c-red2));
    opacity: 1;
}

.tile {
    position: relative;
    object-fit: contain;
    flex: 0 1 auto;
}

.tile p {
    position: absolute;
    bottom: 20px;
    left: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--c-yellow);
    color: aqua;
    padding: 1em 1em;
    border-radius: 0 5px 5px 0;
    white-space: nowrap;
    overflow: hidden;
}

.tile p span {
    font-size: 70%;
}

.tile .preview-lg {
    flex: 1 1 780px;
    height: 350px;
    width: 780px;
}

.tile .preview-sm {
    height: 250px;
    width: 250px;
    margin-top: 5px;
}

.footer {
    display: inline-block;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: left;
    color: var(--c-white);
    padding: 2% 0 2% 0;
    width: 100%;
}

.contact-container {
    border-top: solid var(--c-lblue) .15px;
    border-bottom: solid var(--c-lblue) .15px;
    padding: 2% 0 2% 0;
    width: 100%;
}

.fa {
    text-align: center;
    text-decoration: none;
    font-size: 16em;
    margin: 2%;
    width: 4%;
}

.fa:hover {
    color: var(--c-red2);
}

/*add more contact info*/

/*email*/

.fa-envelope {
    position: relative;
    color: var(--c-white);
}

.footer p {
    margin-top: 10px;
    color: var(--c-red);
    line-height: 20px;
}

@media screen and (max-width: 1446px) {
    body {
        margin: 0 8%;
    }
}

@media screen and (max-width: 1173px) {
    body {
        margin: 0 2%;
    }
}

@media screen and (max-width: 1022px) {
    body {
        margin: 0 0%;
    }
}

@media screen and (max-width: 1012px) {
    body {
        margin: 0 2%;
    }
}

.about,
.projects {
    flex-direction: column;
    padding: 2% 2% 2% 2%;
}

.h2 {
    display: inline-block;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: left;
    padding: 2% 0 2% 0;
    width: 100%
}