* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    background-color: blue;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .5px;
    line-height: 1.6em;
    margin: 0 16.5%;
}

h1 {
    font-size: 0;
    width: 1px;
    height: 1px;
    display: inline-block;
    overflow: hidden;
    position: absolute !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    clip: rect(1px, 1px, 1px, 1px);
}

img {
    border: .5px solid white;
    border-radius: 2px;
}

.header {
    color: white;
    display: inline-block;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: left;
    border-bottom: solid white .15px;
    width: 100%;
    padding: 0 0% 0% 0%;
}

.header img {
    border: none;
}

.header header,
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}